[alias]
	st = status
	stat = status
	co = checkout
	com = commit
    rev = checkout --
	l = log --format='%C(green)%h%Creset %ae %Cred%d%Creset- %s (%C(yellow)%ar%Creset) ' --graph
    sync = !git fetch --all --tags && git co master && git pull && git merge --ff-only upstream/master && git push
    br = branch
    wt = worktree
[color]
	ui = auto
[user]
	name = Michael Ponomarenko
	email = mponomarenko@bloomberg.net
[instaweb]
	browser = open
[diff]
	tool = meld
[difftool]
    prompt = no
[credential]
    helper = cache --timeout 86400
[pull]
    rebase = true
