set ideajoin
set hlsearch
set incsearch
map S <esc>:nohlsearch<cr>
map ,f :action FindUsages<cr>
map ,c :action CloseActiveTab<cr>:action HideAllWindows<cr>
map ,s :action Stop<cr>
map ,r :action Debug<cr>
map ,q :action QuickJavaDoc<cr>
map > :action GotoNextError<cr>
map < :action GotoPreviousError<cr>
map M :action Run<cr>
map ,b :action ToggleLineBreakpoint<cr>
map ,h :action CallHierarchy<cr>
